.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'MuseoModerno', display;
  font-size: 4.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-2 {
  font-family: 'Architects Daughter', handwriting;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Merienda', handwriting;
  font-size: 1.6rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.15rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.4rem 2.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 0.8rem 3rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e86390 !important;
}
.bg-success {
  background-color: #46b8ae !important;
}
.bg-info {
  background-color: #103178 !important;
}
.bg-warning {
  background-color: #a8aaf1 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary {
  box-shadow: none!important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e86390 !important;
  border-color: #e86390 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #e86390 !important;
  background-color: white!important;
  border-color: #e86390 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d51f5d !important;
  border-color: #d51f5d !important;
}
.btn-secondary {
  box-shadow: none!important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e86390 !important;
  border-color: #e86390 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #e86390 !important;
  background-color: white!important;
  border-color: #e86390 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d51f5d !important;
  border-color: #d51f5d !important;
}
.btn-info {
  box-shadow: none!important;
}
.btn-info,
.btn-info:active {
  background-color: #103178 !important;
  border-color: #103178 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #103178 !important;
  background-color: white!important;
  border-color: #103178 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #06122b !important;
  border-color: #06122b !important;
}
.btn-success {
  box-shadow: none!important;
}
.btn-success,
.btn-success:active {
  background-color: #46b8ae !important;
  border-color: #46b8ae !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #46b8ae !important;
  background-color: white!important;
  border-color: #46b8ae !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2e7973 !important;
  border-color: #2e7973 !important;
}
.btn-warning {
  box-shadow: none!important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a8aaf1 !important;
  border-color: #a8aaf1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #a8aaf1 !important;
  background-color: white!important;
  border-color: #a8aaf1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5d61e5 !important;
  border-color: #5d61e5 !important;
}
.btn-danger {
  box-shadow: none!important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ff9966 !important;
  background-color: white!important;
  border-color: #ff9966 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white {
  background: white;
  transition: all 0.3s;
  color: #e86390;
  border-color: white;
}
.btn-white:hover {
  background: #e86390;
  color: white;
  border-color: #e86390;
}
.btn-black {
  box-shadow: none!important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #232323 !important;
  background-color: white!important;
  border-color: #232323 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e86390;
  color: #e86390;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d51f5d !important;
  background-color: transparent!important;
  border-color: #d51f5d !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e86390 !important;
  border-color: #e86390 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e86390;
  color: #e86390;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d51f5d !important;
  background-color: transparent!important;
  border-color: #d51f5d !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e86390 !important;
  border-color: #e86390 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #103178;
  color: #103178;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #06122b !important;
  background-color: transparent!important;
  border-color: #06122b !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #103178 !important;
  border-color: #103178 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #46b8ae;
  color: #46b8ae;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2e7973 !important;
  background-color: transparent!important;
  border-color: #2e7973 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #46b8ae !important;
  border-color: #46b8ae !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a8aaf1;
  color: #a8aaf1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5d61e5 !important;
  background-color: transparent!important;
  border-color: #5d61e5 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a8aaf1 !important;
  border-color: #a8aaf1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e86390 !important;
}
.text-secondary {
  color: #e86390 !important;
}
.text-success {
  color: #46b8ae !important;
}
.text-info {
  color: #103178 !important;
}
.text-warning {
  color: #a8aaf1 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c81d57 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c81d57 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2a6e68 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #040c1e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #5054e3 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e86390;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #103178;
}
.alert-warning {
  background-color: #a8aaf1;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e86390;
  border-color: #e86390;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e86390;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a2dcd7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #2561e2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e86390 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #e86390;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e86390;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e86390;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e86390;
  border-bottom-color: #e86390;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e86390 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e86390 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e86390' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sBYFG1Qx5n .navbar {
  background: #e86390;
  transition: none;
  min-height: 77px;
  padding: 0.5rem 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
.cid-sBYFG1Qx5n .navbar-dropdown.bg-color.transparent.opened {
  background: #e86390;
}
.cid-sBYFG1Qx5n a {
  font-style: normal;
}
.cid-sBYFG1Qx5n .navbar-buttons {
  flex-wrap: wrap;
}
.cid-sBYFG1Qx5n .show {
  overflow: visible;
}
.cid-sBYFG1Qx5n .dropdown-menu {
  max-height: 400px;
  overflow: auto;
}
.cid-sBYFG1Qx5n .dropdown-item:active {
  background-color: transparent;
}
.cid-sBYFG1Qx5n .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-sBYFG1Qx5n .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.2rem !important;
  -webkit-align-items: center;
}
.cid-sBYFG1Qx5n .nav-item:focus,
.cid-sBYFG1Qx5n .nav-link:focus {
  outline: none;
}
.cid-sBYFG1Qx5n .btn {
  padding: 0.7rem 2rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sBYFG1Qx5n .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-sBYFG1Qx5n .menu-logo {
  margin-right: auto;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1rem;
  padding: 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  width: auto;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-sBYFG1Qx5n .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  padding-right: 1rem;
  max-width: 100%;
  width: 100%;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse {
  justify-content: space-between !important;
}
.cid-sBYFG1Qx5n .dropdown .dropdown-menu {
  background: #e86390;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-sBYFG1Qx5n .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-sBYFG1Qx5n .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sBYFG1Qx5n .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-sBYFG1Qx5n .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sBYFG1Qx5n .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-sBYFG1Qx5n .navbar.navbar-short {
  min-height: 60px;
  transition: all 0.2s;
}
.cid-sBYFG1Qx5n .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-sBYFG1Qx5n .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-sBYFG1Qx5n .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-sBYFG1Qx5n .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
  width: auto;
}
.cid-sBYFG1Qx5n .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-sBYFG1Qx5n button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  top: 1.5rem;
  right: 1rem;
  position: absolute;
}
.cid-sBYFG1Qx5n button.navbar-toggler:focus {
  outline: none;
}
.cid-sBYFG1Qx5n button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #36404c;
}
.cid-sBYFG1Qx5n button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sBYFG1Qx5n button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sBYFG1Qx5n button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sBYFG1Qx5n button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sBYFG1Qx5n nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sBYFG1Qx5n nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sBYFG1Qx5n nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sBYFG1Qx5n nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
@media (min-width: 992px) {
  .cid-sBYFG1Qx5n .navbar:not(.collapsed) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.cid-sBYFG1Qx5n .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sBYFG1Qx5n .collapsed .btn {
  display: -webkit-flex;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.collapsing,
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.show {
  display: block !important;
  overflow: auto;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-sBYFG1Qx5n .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sBYFG1Qx5n .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 90.625vh;
  }
}
.cid-sBYFG1Qx5n .collapsed button.navbar-toggler {
  display: block;
}
.cid-sBYFG1Qx5n .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-sBYFG1Qx5n .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-sBYFG1Qx5n .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-sBYFG1Qx5n .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-sBYFG1Qx5n .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-sBYFG1Qx5n .collapsed .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
@media (max-width: 991px) {
  .cid-sBYFG1Qx5n.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sBYFG1Qx5n img {
    height: 3.8rem !important;
  }
  .cid-sBYFG1Qx5n .btn {
    display: -webkit-flex;
  }
  .cid-sBYFG1Qx5n button.navbar-toggler {
    display: block;
  }
  .cid-sBYFG1Qx5n .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-sBYFG1Qx5n .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-sBYFG1Qx5n .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-sBYFG1Qx5n .navbar-collapse.collapsing,
  .cid-sBYFG1Qx5n .navbar-collapse.show {
    display: block !important;
    overflow: auto;
  }
  .cid-sBYFG1Qx5n .navbar-collapse.collapsing .navbar-nav,
  .cid-sBYFG1Qx5n .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-sBYFG1Qx5n .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-sBYFG1Qx5n .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-sBYFG1Qx5n .navbar-collapse.collapsing .navbar-buttons,
  .cid-sBYFG1Qx5n .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-sBYFG1Qx5n .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-sBYFG1Qx5n .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-sBYFG1Qx5n .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-sBYFG1Qx5n .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-sBYFG1Qx5n .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-sBYFG1Qx5n .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-sBYFG1Qx5n .nav-link {
    justify-content: start !important;
  }
  .cid-sBYFG1Qx5n .navbar.opened {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .cid-sBYFG1Qx5n .navbar-toggleable-sm {
    width: 100% !important;
  }
  .cid-sBYFG1Qx5n .dropdown-menu {
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1) !important;
    background: #efefef !important;
  }
}
@media (min-width: 767px) {
  .cid-sBYFG1Qx5n .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-sBYFG1Qx5n .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-sBYFG1Qx5n .nav-link:hover,
.cid-sBYFG1Qx5n .dropdown-item:hover {
  color: #ed4266 !important;
}
@media (min-width: 1500px) {
  .cid-sBYFG1Qx5n .navbar-toggleable-sm .navbar-collapse {
    max-width: 60% !important;
    padding-right: 5rem;
  }
  .cid-sBYFG1Qx5n .menu-logo .navbar-brand {
    margin-left: 5rem;
  }
}
.cid-sBYy83iJ2Z {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/banner-1-2000x273.jpg");
}
@media (max-width: 767px) {
  .cid-sBYy83iJ2Z {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.cid-sBYy83iJ2Z .nav-link {
  font-weight: 900;
}
.cid-sBYy83iJ2Z .nav-item:not(:first-child)::before {
  background: #e86390;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sBYy83iJ2Z .navbar-nav {
  display: block;
}
.cid-sBYy83iJ2Z .navbar-nav li {
  display: inline-block;
}
.cid-sBYy83iJ2Z li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sBYy83iJ2Z .navbar-nav,
.cid-sBYy83iJ2Z .mbr-section-title {
  color: #1d2671;
}
.cid-sDnToiHBps {
  padding-top: 15px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #e86390, #ef7fff);
}
.cid-sBvgWdTYCc {
  flex-direction: column !important;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-sBvgWdTYCc .row {
  flex-direction: row-reverse;
}
.cid-sBvgWdTYCc .gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #22a5e5;
  background: linear-gradient(to right top, #22a5e5, #103178);
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 6px;
  transition: opacity 1s;
}
.cid-sBvgWdTYCc .wrap .inner-wrap {
  padding: 40px;
  margin: auto;
}
.cid-sBvgWdTYCc .wrap .content-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-sBvgWdTYCc .card {
  flex-direction: row;
  justify-content: center;
}
.cid-sBvgWdTYCc .card-box {
  text-align: center;
}
.cid-sBvgWdTYCc .card-box .card-img {
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}
.cid-sBvgWdTYCc .card-box .card-img span {
  border: 2px solid #ffffff;
  padding: 15.5px;
  border-radius: 70px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  display: inline-block;
}
.cid-sBvgWdTYCc .card-box .card-title {
  color: #ffffff;
}
.cid-sBvgWdTYCc .card-box .mbr-text {
  color: #ffffff;
}
.cid-sBvgWdTYCc .card-box .btn {
  margin: 0;
}
.cid-sBvgWdTYCc .card-title {
  margin: 0;
}
.cid-sBvgWdTYCc .card-img,
.cid-sBvgWdTYCc .card-box {
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sBvgWdTYCc .card {
    flex-direction: column;
  }
  .cid-sBvgWdTYCc .card .card-img {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .cid-sBvgWdTYCc .card .card-box {
    width: 100%;
    padding-left: 0;
  }
  .cid-sBvgWdTYCc .card .card-box .card-title,
  .cid-sBvgWdTYCc .card .card-box .mbr-text,
  .cid-sBvgWdTYCc .card .card-box .link {
    text-align: center;
  }
}
.cid-sDog95jVM2 {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #ffb5b5;
}
.cid-sDog95jVM2 .row {
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sDog95jVM2 .row .row {
    flex-direction: column-reverse;
  }
  .cid-sDog95jVM2 .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sDog95jVM2 .text-wrapper {
  width: 65%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-sDog95jVM2 .col-lg-4 {
  height: auto;
}
@media (max-width: 992px) {
  .cid-sDog95jVM2 .col-12 {
    margin-bottom: 2rem;
  }
}
.cid-sDog95jVM2 .card-wrapper {
  position: relative;
  height: 100%;
  z-index: 2;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-sDog95jVM2 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sDog95jVM2 .card-wrapper:hover img {
  transform: scale(1.1);
}
.cid-sDog95jVM2 .card-wrapper .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.cid-sDog95jVM2 .img-wrapper img {
  transition: all 0.6s;
  height: 100%;
  object-fit: cover;
}
.cid-sDog95jVM2 .card-subtitle {
  color: #ffffff;
}
.cid-sDog95jVM2 .mbr-text {
  color: #555555;
}
.cid-sDog95jVM2 .card2-title {
  color: #12a05c;
}
.cid-sDog95jVM2 .card1-title {
  color: #ffc800;
}
.cid-sDog95jVM2 .card2-subtitle {
  color: #ffffff;
}
.cid-sDog95jVM2 .card3-subtitle {
  color: #ffffff;
}
.cid-sDog95jVM2 .card3-title {
  color: #ffc800;
}
.cid-sDog95jVM2 .card3-price,
.cid-sDog95jVM2 .card1-price,
.cid-sDog95jVM2 .card2-price {
  color: #bbbbbb;
  text-decoration: line-through;
}
.cid-sDog95jVM2 .card1-subtitle {
  color: #ffffff;
}
.cid-sDog95jVM2 .mian-title {
  text-align: center;
  color: #103178;
}
.cid-sBAqBZnAvH {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-sBAqBZnAvH .mbr-figure {
  padding: 0;
}
.cid-sBAqBZnAvH .content-row {
  background-color: #22a5e5;
}
.cid-sBAqBZnAvH .content-row .media-content {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url("../../../assets/images/gordo-y-flaco-1000x837.jpg");
}
@media (min-width: 992px) {
  .cid-sBAqBZnAvH .content-row .media-content {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-sBAqBZnAvH .content-row .media-content .mbr-overlay {
  background: linear-gradient(90deg, #22a5e5, #e86390);
}
.cid-sBAqBZnAvH .content-row .media-content .content-block {
  z-index: 1;
}
.cid-sDonquFXcp {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffb5b5;
}
@media (max-width: 767px) {
  .cid-sDonquFXcp {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
.cid-sDonquFXcp .nav-link {
  font-weight: 900;
}
.cid-sDonquFXcp .nav-item:not(:first-child)::before {
  background: #e86390;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sDonquFXcp .navbar-nav {
  display: block;
}
.cid-sDonquFXcp .navbar-nav li {
  display: inline-block;
}
.cid-sDonquFXcp li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sDonquFXcp .navbar-nav,
.cid-sDonquFXcp .mbr-section-title {
  color: #1d2671;
}
.cid-sByXyZ7wQm {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffb5b5;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-sByXyZ7wQm .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sByXyZ7wQm .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sByXyZ7wQm .container-fluid {
    padding: 0.5rem;
  }
}
@media (min-width: 767px) {
  .cid-sByXyZ7wQm .container-fluid {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sByXyZ7wQm .container-fluid {
    padding: 0 1.7rem;
  }
}
.cid-sByXyZ7wQm .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div:hover:before {
  z-index: 5;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div:hover .icon-focus {
  opacity: 0.8 !important;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div:hover:before {
  opacity: 0.4 !important;
}
.cid-sByXyZ7wQm .mbr-gallery-item:hover img {
  transform: scale(1.1);
}
.cid-sByXyZ7wQm .icon-focus {
  font-family: 'Moririse2' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 6px;
}
.cid-sByXyZ7wQm .icon-focus:before {
  content: '\e970';
  font-size: 1.2rem;
  color: black;
}
.cid-sByXyZ7wQm .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div {
  overflow: hidden;
}
.cid-sByXyZ7wQm .mbr-gallery-item img {
  transition: all 2s !important;
}
.cid-sByXyZ7wQm .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #000000, #45505b) !important;
}
.cid-sByXyZ7wQm .mbr-gallery-title {
  font-size: 0.9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 5;
}
.cid-sByXyZ7wQm .mbr-gallery-title:before {
  content: ' ';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #000000 !important;
  opacity: 0.4;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #000000, #45505b) !important;
}
.cid-sBvlNxGwRv {
  background-image: url("../../../assets/images/431412-1920x1080.jpeg");
}
.cid-sBvlNxGwRv .column-content {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #ffffff;
  width: 100%;
  float: right;
  position: relative;
}
.cid-sBvlNxGwRv .text-content .btn-bgr {
  z-index: 0;
}
.cid-sBvlNxGwRv .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-sBvlNxGwRv .container-full-width {
  position: relative;
}
.cid-sBvlNxGwRv .text-content {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cid-sBvlNxGwRv .layer {
  display: none;
  height: 101%;
  position: absolute;
  right: 49.9%;
  top: 0;
  bottom: 0;
}
.cid-sBvlNxGwRv .layer path {
  fill: #ffffff;
}
@media (min-width: 576px) {
  .cid-sBvlNxGwRv .text-content {
    width: 540px;
  }
  .cid-sBvlNxGwRv .column-content {
    width: 100%;
  }
  .cid-sBvlNxGwRv .layer {
    display: none;
  }
}
@media (min-width: 768px) {
  .cid-sBvlNxGwRv .text-content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .cid-sBvlNxGwRv .text-content {
    width: 480px;
    margin: 0;
  }
  .cid-sBvlNxGwRv .column-content {
    width: 50%;
  }
  .cid-sBvlNxGwRv .layer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .cid-sBvlNxGwRv .text-content {
    width: 570px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sBvlNxGwRv .container-full-width .layer {
    right: 2.6rem;
    height: 33rem;
  }
  .cid-sBvlNxGwRv .column-content {
    height: 33rem;
  }
}
.cid-sBvlNxGwRv H1 {
  color: #e86390;
}
.cid-sBvlNxGwRv .mbr-text,
.cid-sBvlNxGwRv .mbr-section-btn {
  color: #353535;
}
.cid-sDonPWw8ZE {
  padding-top: 30px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/wallpapers-chicas-sexy-11-800x450.jpg");
}
.cid-sDonPWw8ZE h3 {
  text-align: center;
}
.cid-sDonPWw8ZE .mbr-section-subtitle {
  font-weight: 300;
}
.cid-sDonPWw8ZE .card {
  word-wrap: break-word;
}
.cid-sDonPWw8ZE .card:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  margin: 0 auto;
  background-color: #e86390;
}
.cid-sDonPWw8ZE .mbr-iconfont {
  font-size: 5rem;
  color: #e86390;
}
.cid-sBzcM9gSTP {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sBzcM9gSTP img,
.cid-sBzcM9gSTP .item-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-sBzcM9gSTP .item:focus,
.cid-sBzcM9gSTP span:focus {
  outline: none;
}
.cid-sBzcM9gSTP .item {
  cursor: pointer;
  padding-top: 20px;
}
.cid-sBzcM9gSTP .item-wrapper {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sBzcM9gSTP .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sBzcM9gSTP .mbr-section-title {
  padding: 0;
  padding-bottom: 80px;
  margin: 0;
  color: #103178;
}
.cid-sBzcM9gSTP .item-title {
  text-transform: uppercase;
  margin: 0 20px;
  color: #103178;
}
.cid-sBzcM9gSTP .price {
  margin: 0 20px 36px;
}
.cid-sBzcM9gSTP .item-content {
  color: #000000;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
}
.cid-sBAnhOhh2F {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sBAnhOhh2F .container-fluid {
  padding: 0 3rem;
}
.cid-sBAnhOhh2F ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sBAnhOhh2F ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-sBAnhOhh2F ul.list-inline img {
  max-width: 6rem;
  padding-bottom: .5rem;
}
.cid-sBAnhOhh2F ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-sBAnhOhh2F .container-fluid {
    padding: 0 1rem;
  }
  .cid-sBAnhOhh2F .list-inline-item img {
    max-width: 5rem;
  }
}
.cid-sBAnhOhh2F .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-sBAnhOhh2F .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #e86390, #e86390);
  display: inline-block;
}
.cid-sBAnhOhh2F .mbr-section-title,
.cid-sBAnhOhh2F .underline {
  color: #e86390;
}
.cid-sBz9T9rAUm {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #103178;
}
.cid-sBz9T9rAUm .block-title {
  color: #ffffff;
}
.cid-sBz7cP2Z1N {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #103178;
}
.cid-sBz7cP2Z1N h4,
.cid-sBz7cP2Z1N h5 {
  text-align: center;
}
.cid-sBz7cP2Z1N h5 {
  font-weight: 400;
}
.cid-sBz7cP2Z1N p {
  text-align: center;
}
.cid-sBz7cP2Z1N .img-icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.cid-sBz7cP2Z1N .card-box {
  text-align: center;
}
.cid-sBz7cP2Z1N .card-box:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 3px;
  background-color: #e86390;
}
@media (min-width: 992px) {
  .cid-sBz7cP2Z1N .my-col {
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-sBz7cP2Z1N .card-title {
  color: #ffffff;
}
.cid-sBFIPfd9My {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/20200819153058.delivery.x2-1200x628.jpeg");
}
.cid-sBFIPfd9My .mbr-overlay {
  background: linear-gradient(90deg, #6441a5, #e86390);
}
.cid-sBFIPfd9My .media-container-row img {
  -webkit-transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
  -moz-transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
  transition: transform 0.4s cubic-bezier(0.38, 3, 0.57, 1.6);
}
.cid-sBFIPfd9My .media-container-row:hover img {
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}
@media (min-width: 992px) {
  .cid-sBFIPfd9My .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sBFIPfd9My .mbr-figure {
    padding-top: 3rem;
  }
}
@media (max-width: 991px) {
  .cid-sBFIPfd9My {
    text-align: center !important;
  }
}
.cid-sBxRD9DR02 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffb5b5;
}
.cid-sBxRD9DR02 h2,
.cid-sBxRD9DR02 h3,
.cid-sBxRD9DR02 p,
.cid-sBxRD9DR02 h4 {
  color: #0a0a0a;
}
.cid-sBxRD9DR02 .img-block img {
  height: 100%;
  max-height: 600px;
}
.cid-sBxRD9DR02 .mbr-iconfont {
  color: #e86390;
  font-size: 2rem;
}
.cid-sBxRD9DR02 .form-control {
  margin-bottom: 15px;
  padding: 1.07em 1.07em;
}
.cid-sBxRD9DR02 .mbr-text {
  color: #767676;
}
.cid-sBxRD9DR02 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sBxRD9DR02 .input-group-btn {
  display: block;
  text-align: center;
}
.cid-sBxRD9DR02 .form-block {
  padding: 2rem;
  box-shadow: 0 0 5px #a8a8a8;
  background-color: #ffffff;
}
.cid-sBxRD9DR02 textarea.form-control {
  resize: none;
}
.cid-sBxRD9DR02 .card-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  text-align: center;
}
.cid-sBxRD9DR02 .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cid-sBxRD9DR02 .list-block {
  position: relative;
}
.cid-sBxRD9DR02 .list-block h4,
.cid-sBxRD9DR02 .list-block p {
  padding-left: 3.5rem;
}
.cid-sBxRD9DR02 .card-img {
  display: block;
}
@media (max-width: 767px) {
  .cid-sBxRD9DR02 h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-sBxRD9DR02 .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-sBxRD9DR02 .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
  .cid-sBxRD9DR02 .img-block-wrap {
    position: relative;
  }
  .cid-sBxRD9DR02 .img-block-wrap .img-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .cid-sBxRD9DR02 .img-block-wrap .img-block img {
    height: 100%;
  }
  .cid-sBxRD9DR02 .text-content {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sBxRD9DR02 .google-map {
    padding-bottom: 2rem;
  }
  .cid-sBxRD9DR02 .img-block {
    overflow: hidden;
  }
}
.cid-sBxRD9DR02 .content-title {
  color: #103178;
}
.cid-sBxRD9DR02 .list-item-title {
  color: #103178;
}
.cid-sBxRD9DR02 .list-item-text {
  color: #103178;
}
.cid-sBxRD9DR02 H4 {
  color: #103178;
}
.cid-sByNk2mOGw {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #ffffff;
}
.cid-sByNk2mOGw .google-map {
  height: 20rem;
  position: relative;
}
.cid-sByNk2mOGw .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sByNk2mOGw .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sByNk2mOGw .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sByNk2mOGw .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sByNk2mOGw .mbr-section-title {
  color: #103178;
}
.cid-sByHIUD1Zy {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #103178;
}
.cid-sByHIUD1Zy .social-media {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 4rem;
}
.cid-sByHIUD1Zy .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-sByHIUD1Zy .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-sByHIUD1Zy .logo-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}
.cid-sByHIUD1Zy .icon-transition span {
  color: #ffffff;
  display: block;
  padding: 0.1rem 0.9rem;
  height: 4em;
  line-height: 4em;
  border-radius: 50%;
  background-color: #e86390;
  width: 4em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 13px;
}
.cid-sByHIUD1Zy .icon-transition span:hover {
  background-color: #e86390;
}
.cid-sByHIUD1Zy .mbr-text {
  color: #f0f2f5;
}
@media (max-width: 991px) {
  .cid-sByHIUD1Zy .social-media {
    -webkit-justify-content: center;
    justify-content: center;
    padding-right: 0rem;
  }
  .cid-sByHIUD1Zy .logo-section {
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0rem;
    margin-bottom: 1.5rem;
  }
  .cid-sByHIUD1Zy .mbr-text {
    margin-bottom: 1.5rem;
  }
}
